@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!--
    Intention:
    get the most up-to-date version from (origin/dev1)
        git status --branch  //find out which local branch I’m on.
        git checkout doc1    //If I need to switch to doc1 from another local branch.
        git pull origin dev1  //pulls down remote dev1 changes to local, checked out branch (e.g., doc1). Pull command also tries to merge dev1 and doc1 if changes in doc1 exists.
    edit file(s)
        git status   //status shows which files have been modified
    stages file(s) in preparation for commit
        git add <file>  //stages file(s)
    commit change
        git commit -m "This is a commit message!"  //creates a local commit, which are not yet pushed to origin.
    ALT-1: create a pull request
        1.	Go to https://ingeniuxdev.visualstudio.com/Ingeniux/
        2.	From menu select Code > Pull Requests > New pull request.
        3.	Change selections in Base-to-Target drop-down menus to the following: documentation > develop.
            Note: Develop will be under the All branches tab.
        4.	Enter a description, etc.
        5.	Click Create.
    ALT-2: push to remote 
            git push origin dev1  //updates the remote doc1 with the local dev1
    ALT-3: merge w. remote
            git merge origin dev1
    -->

<p>Use this area to provide additional information.</p>
